Envios/Envios.MVC/Connected Services/ProductosServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceBackEnd.Entities.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceBackEnd.Entities.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Productos" nillable="true" type="tns:Productos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductos" nillable="true" type="tns:ArrayOfProductos" />
  <xs:complexType name="Productos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:int" />
      <xs:element minOccurs="0" name="ProductoDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductoImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoPrecio" type="xs:double" />
      <xs:element minOccurs="0" name="ProductoStock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Productos" nillable="true" type="tns:Productos" />
</xs:schema>